@use "globals";

body::before {
  content: "";
  height: 100px;
  display: block;
  @media screen and (min-width: 768px) {
    height: 220px;
  }
}

.bi-check-circle-fill {
  color: globals.$cart-number-bg;
  font-size: 5rem;
}
.user-name {
  text-transform: capitalize;
}
.order-info {
  animation: fade-in 2000ms forwards 1000ms;
  text-align: left;
  &:hover {
    cursor: pointer;
  }
  h4 {
    border-bottom: 1px solid globals.$cart-number-bg;
  }
  &__text {
    text-decoration: underline;
    color: globals.$cart-number-bg;
    &:hover {
      text-decoration: none;
      cursor: pointer;
    }
  }
  .date-capitalize {
    text-transform: capitalize;
  }
  @keyframes fade-in {
    to {
      box-shadow: 0px 2px 20px 0px rgba(155, 155, 155, 0.75);
      -webkit-box-shadow: 0px 2px 20px 0px rgba(155, 155, 155, 0.75);
      -moz-box-shadow: 0px 2px 20px 0px rgba(155, 155, 155, 0.75);
    }
  }
}
.order-id {
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
