@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

$body-bg: #f3ebf3;
$body-bg: lightgray;
$header-bg: #281826;
$footer-bg: #7c747c;
$cart-number-bg: #9059ff;
$color-text: #000000;
$main-height: max-content;
$footer-height: 100px;

body {
  height: 100%;
  overflow-x: hidden;
  &::before {
    content: "";
    height: 70px;
    display: block;
  }
}
.navbar-toggler {
  position: absolute;
  top: 5px;
  right: 10px;
}

.bi-cart3 {
  z-index: 2;
}
.badge {
  z-index: -1;
  background-color: $purple-500 !important;
}

.btn {
  text-transform: uppercase;
}

a {
  white-space: nowrap;
}

footer {
  height: $footer-height;
  width: 100%;
  background-color: $footer-bg;
  position: relative;
  bottom: 0;
}
