@use "globals.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

.bi-cart-check {
  color: $teal-600;
  font-size: 2rem;
  border: 2px solid $teal-600;
  border-radius: 50%;
  padding: 10px 16px;
}
.bi-house-door-fill {
  color: white;
  font-size: 1rem;
}

main {
  padding-bottom: 75px;
}

.link-achats {
  position: relative;
  color: globals.$cart-number-bg;
  text-decoration: none;
  width: min-content;
  &:hover {
    text-decoration: underline;
    color: $purple-500;
  }
  &::before {
    content: "\00ab";
    position: absolute;
    left: -2px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.btn-valider-panier,
.btn-commander {
  &:hover {
    color: white;
    background-color: globals.$purple-500;
  }
}
.btn-valider-panier {
  color: white;
  background-color: globals.$cart-number-bg;
}

.btn-commander {
  background-color: globals.$cart-number-bg;
  color: white;
}

.prix-total {
  color: white;
  white-space: nowrap;
  text-transform: uppercase;
  font-size: 1.15rem;
  font-weight: 700;
  span {
    text-decoration: underline;
  }
}

#form-section {
  display: none;
  input,
  select {
    border: 1px solid dimgray;
  }
  .form-check-input {
    box-shadow: none !important;
    &:checked {
      background-color: globals.$cart-number-bg;
      border-color: globals.$cart-number-bg;
    }
    &:focus,
    &:active {
      background-color: none;
      border-color: globals.$cart-number-bg;
    }
  }
}

.errorMsg {
  display: none;
  width: min-content;
  white-space: nowrap;
}

.success {
  .form-control {
    border: 1px solid grey;
  }
}
.fail {
  .form-control {
    border: 1px solid red;
  }
  .errorMsg {
    display: block;
    color: red;
  }
}
