@use "globals";

main {
  padding-bottom: 90px;
}
.link-achats {
  position: relative;
  color: black;
  width: min-content;
  &:hover {
    text-decoration: underline;
  }
  &::before {
    content: "\00ab";
    position: absolute;
    left: -12px;
    top: 50%;
    transform: translateY(-48%);
  }
}

.errorMsg {
  display: none;
  width: min-content;
  white-space: nowrap;
}

.success {
  .form-control {
    border: 1px solid grey;
  }
}
.fail {
  .form-control {
    border: 1px solid red;
  }
  .errorMsg {
    display: block;
    color: red;
  }
}
