@use 'globals.scss';
@import "../node_modules/bootstrap/scss/bootstrap.scss";

.bi-check-lg {
  color: $teal-600;
}

.order-btn {
  background-color: black;
  border-color: black;
  color: white;
  font-size: 0.8rem;
  &:hover {
    background-color: $purple-600;
    border-color: $purple-600;
    color: white;
    &:active {
      outline-color: $purple-500;
    }
  }
}
.btn-terminer {
  background-color: $purple-500;
  border-color: $purple-500;
  color: white;
  &:hover {
    background-color: $purple-600;
    border-color: $purple-600;
    color: white;
  }
}
.dispo {
  color: $green-500;
}
main {
  height: calc(100vh - 90px);
}
