@use 'globals.scss';
@import "../node_modules/bootstrap/scss/bootstrap.scss";

body::before {
  content: "";
  height: 100px;
  display: block;
  @media screen and (min-width: 768px) {
    height: 220px;
  }
}

.breadcrumb {
  font-size: 0.9rem;
}

.breadcrumb-item.active {
  color: rgb(24, 24, 24) !important;
}

.dispo {
  color: $teal-500;
}

main {
  min-height: calc(100vh - 140px);
  @media screen and (min-width: 768px) {
    min-height: calc(100vh - 220px);
  }
  // .content {
  //   min-height: calc(100vh - 100px);
  //   @media screen and (min-width: 768px) {
  //     min-height: calc(100vh - 220px);
  //   }
  // }
  select {
    width: 100%;
    max-width: 400px;
    &:active,
    &:focus,
    &:visited {
      box-shadow: none !important;
      outline: none !important;
      border-color: $indigo-400 !important;
    }
  }
  .btn-commander {
    width: 100%;
    max-width: 400px;
    background-color: $indigo-400;
    border-color: $indigo-400;
    &:hover {
      background-color: $indigo-600;
      border-color: $indigo-600;
      color: white;
      &:active {
        outline-color: $indigo-600;
      }
    }
  }
}

.bi-check-lg {
  color: $teal-600;
}

.bi-chevron-left {
  font-weight: 600;
}

.btn-continuer {
  transform: translateX(-25%);
}
.btn-terminer {
  transform: translateX(25%);
  background-color: $indigo-400;
  border-color: $indigo-400;
  &:hover {
    background-color: $indigo-600;
    border-color: $indigo-600;
    color: white;
  }
}
