@use "globals.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

// hamburger
.navbar-toggler {
  border: none;
  &:active,
  &:focus,
  &:visited {
    box-shadow: none;
  }
}
// titres
.navbar-brand,
.h5 {
  letter-spacing: 0.5ch;
}

// contenu
.content {
  max-width: 900px;
}
.product {
  transition: transform 500ms;
  &:hover {
    transform: scale(0.99);
    cursor: default;
  }
}
.link-product {
  text-decoration: none;

  .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.btn-voir {
  background-color: globals.$cart-number-bg;
  border-color: globals.$cart-number-bg;
  color: white;
  &:hover {
    background-color: $purple-600;
    border-color: $purple-600;
    color: white;
  }
}
