@use "globals.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

body::before {
  content: "";
  height: 140px;
  display: block;
  @media screen and (min-width: 768px) {
    height: 220px;
  }
}

// hamburger
.navbar-toggler {
  border: none;
  &:active,
  &:focus,
  &:visited {
    box-shadow: none;
  }
}
// titres
.navbar-brand,
.h5 {
  letter-spacing: 0.5ch;
}

// contenu
.content {
  max-width: 900px;
}
.product {
  transition: transform 500ms;
  & > .container {
    min-height: 100px;
  }
  &:hover {
    transform: scale(0.99);
    cursor: default;
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
// .link-product {
//   text-decoration: none;
// }
.btn-voir {
  background-color: $indigo-400;
  border-color: $indigo-400;
  &:hover {
    background-color: $indigo-600;
    border-color: $indigo-600;
    color: white;
  }
}
